        <!-- result build -->
  <div>
      <div class='panel panel-default'  >
          <div class='panel-heading cds-panel-header'>
              <div class='cds-panel-header__prefix '>
                  <div class='time-off'></div>
              </div>
              <div class='cds-panel-header__main'>
                {{vacationDate}}
                      <br/>

                      Quota : {{quota?.availableQuota}} slots available
              </div>	
              <div class='cds-panel-header__suffix' >
                      <button type='button' class='btn btn-primary' data-toggle="modal" data-target="#myModal"> Create Bid </button>
              </div>        		
          </div>	
      </div>
      <!-- modal window -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>{{quota?.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class='btn btn-primary' data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> 

    </div>
